<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.github.ylfjm.user.mapper.MenuMapper">

    <resultMap id="MenuWithPermission" type="com.github.ylfjm.user.po.Menu">
        <result column="c_id" property="id" jdbcType="INTEGER"/>
        <collection property="permissions" ofType="com.github.ylfjm.user.po.Permission" select="selectPermissionByMenuId" column="c_id">
            <result column="c_id" property="menuId" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <!--获取子菜单列表-->
    <select id="page" resultType="com.github.ylfjm.user.po.Menu">
        select
        id,
        `name`,
        description,
        url,
        icon,
        pid,
        `level`,
        sorts,
        creator,
        create_time,
        updater,
        update_time
        from system_menu
        where sys_type = #{sysType}
        <if test="pid != null">
            and pid = #{pid}
        </if>
        <if test="name != null and name != ''">
            and `name` like CONCAT('%', #{name}, '%')
        </if>
        <if test="level != null">
            and `level` = #{level}
        </if>
        order by sorts
    </select>

    <!--获取菜单列表（带权限信息）-->
    <select id="selectMenuWithPermission" resultMap="MenuWithPermission">
        select
        id as c_id,
        `name`,
        pid,
        `level`,
        sorts
        from system_menu
        where 1=1
        <if test="sysType != null">
            and sys_type = #{sysType}
        </if>
        order by `level`,sorts
    </select>

    <select id="selectPermissionByMenuId" parameterType="java.lang.Integer" resultType="com.github.ylfjm.user.po.Permission">
        select
        id,
        `name`,
        method,
        code,
        menu_id
        from system_permission where menu_id = #{c_id}
    </select>

    <!--获取一共有几级菜单-->
    <select id="selectMaxMenuLevel" resultType="java.lang.Integer">
        select `level` from system_menu
        where 1=1
        <if test="sysType != null">
            and sys_type = #{sysType}
        </if>
        order by `level` desc limit 1
    </select>

    <!--根据权限ID集合获取菜单集合-->
    <select id="selectMenuBypermissionIds" parameterType="java.util.Set" resultType="com.github.ylfjm.user.po.Menu">
        select distinct
        m.id,
        m.`name`,
        m.pid,
        m.`level`,
        m.sorts
        from system_menu m
        inner join system_permission p on m.id = p.menu_id
        where p.id in
        <foreach collection="permissionIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by m.`level`,m.sorts
    </select>

    <!--根据id查询pid-->
    <select id="selectPidById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select pid from system_menu where id = #{id}
    </select>

    <!--获取管理员所拥有的菜单-->
    <select id="selectMenusByAdminId" resultType="com.github.ylfjm.user.po.Menu">
        select distinct
        m.id,
        m.`name`,
        m.url,
        m.icon,
        m.pid,
        m.`level`,
        m.sorts
        from system_menu m
        inner join system_role__menu rm on m.id = rm.menu_id
        inner join system_admin__role ar on rm.role_id = ar.role_id
        where ar.admin_id = #{adminId}
        order by m.`level`,m.sorts
    </select>

    <!--获取所有菜单列表-->
    <select id="selectAllMenus" resultType="com.github.ylfjm.user.po.Menu">
        select
        id,
        `name`,
        description,
        url,
        icon,
        pid,
        `level`,
        sorts
        from system_menu
        where 1=1
        <if test="sysType != null">
            and sys_type = #{sysType}
        </if>
        order by `level`,sorts
    </select>

    <!--获取所有菜单ID-->
    <select id="selectAllMenuId" resultType="java.lang.Integer">
        select distinct
        id
        from system_menu
        where 1=1
        <if test="sysType != null">
            and sys_type = #{sysType}
        </if>
    </select>

    <!--获取一级菜单列表-->
    <select id="selectFirstLevelMenus" resultType="com.github.ylfjm.user.po.Menu">
        select
        id,
        `name`,
        description,
        url,
        icon,
        pid,
        `level`,
        sorts
        from system_menu
        where `level` = 1 and (pid = 0 or pid is null)
        <if test="sysType != null">
            and sys_type = #{sysType}
        </if>
        order by `level`,sorts
    </select>

</mapper>