<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.github.ylfjm.system.mapper.ProjectMapper">

    <select id="selectPage" resultType="com.github.ylfjm.system.po.Project">
        select * from project where deleted = 0
    </select>

</mapper>